*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet M';
    line-height: 1.5;
}
body{
     background-image: url(images/OIP\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.logo{
    display: flex;
    background-color: gray;

}
.logo img{
    width:100%;
    height: 150px;
}
.link{
    width: 50%;
    justify-content: space-between;
    display: flex;
    font-size: 30px;
    margin: auto;
}
.link a{
    color: black;
}
.main-view h1{
    font-size: 120px;
    color:white;
    align-items: center;
    text-align: center;
    
}
.main-view h2{
font-size: 80px;

}
.main-view p{
    font-size: 30px;
}
.ending button{
    padding: 15px 30px;
    font-size: 50px;
    background-color:green;
    color: white;
    border: none;
    border-radius:50px;
    cursor: pointer;
    margin: 20px 0;
}
.ending{
    align-items: center;
    text-align: center;
    font-size: 50px;
    margin-top: 50px 0;
}
.footer{
    align-items: center;
    text-align: center;
    font-size: 20px;
   background-color: gray;

}





